.myCustomSpacerVert10_CSK_Module_PersistentData {
  min-height: 10px;
}

.myCustomPlaceholder10pxHeight_CSK_Module_PersistentData {
  min-height: 10px;
}

.myCustomSpacerVert10_CSK_Module_PersistentData {
  min-height: 10px;
}

.myCustomSpacerVert20_CSK_Module_PersistentData {
  min-height: 20px;
}

.myCustomFrameNoColor_CSK_Module_PersistentData {
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: 007CC1;
  background-color: white;
}

.myCustomFrame_CSK_Module_PersistentData {
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #007CC1;
  background-color: white;
}

.myCustomLabel_CSK_Module_PersistentData {
  font-size:30px;
  color: grey;
  margin-top: 10px;
}

.myCustomFrameLabel_CSK_Module_PersistentData {
  background: white;
  position:relative;
  top: calc(-1.2rem);
  left: calc(1rem);
  font-size: medium;
}

.myCustomPersistentDataMargin_CSK_Module_PersistentData {
  margin-top: -32px;
}

.myCustomBorderLeft_CSK_Module_PersistentData {
  border-left: 1px solid lightgray;
}

.myCustomBorderRight_CSK_Module_PersistentData {
  border-right: 1px solid lightgray;
}

.myCustomMarginFirstRow_CSK_Module_PersistentData {
  margin-top: -49px;
}

.myCustomBorderBottom_CSK_Module_PersistentData {
  border-bottom: 1px solid lightgray;
  margin-inline: calc(1rem);
}

.myCustomBackground_CSK_Module_PersistentData {
}

.myCustomButton_CSK_Module_PersistentData {
  border-radius: 30px;
  padding: 11px;
}
